.#{$prefix}#{$literal-comment-name} {
    color: $literal-comment-color;
    font-style: italic;
}

.#{$prefix}#{$literal-number-name} {
    color: $literal-number-color;
}

.#{$prefix}#{$literal-string-name} {
    color: $literal-string-color;
}

.#{$prefix}#{$literal-template-name} {
    color: $literal-template-color;
}

.#{$prefix}#{$literal-operator-name} {
    color: $literal-operator-color;
}
