.#{$prefix}#{$statement-builtin-name} {
    color: $statement-builtin-color;
}

.#{$prefix}#{$statement-keyword-name} {
    color: $statement-keyword-color;
}

.#{$prefix}#{$statement-primitive-name} {
    color: $statement-primitive-color;
}
