@each $name, $value in $masks {
    .#{$prefix}#{$name} {
        color: $value;
    }
}

.#{$prefix}emphasis {
  font-style: italic;
}

.#{$prefix}strong {
  font-weight: bold;
}

.#{$prefix}link {
  text-decoration: underline;
}
