$prefix: 'cc-' !default;

$color: #abb2bf !default;
$background-color: #282c34 !default;

$masks: () !default;
$masks: map-merge(
    (
        variable: #e06c75,
        comment: #5c6370,
        keyword: #c678dd,
        entity: #61afef,
        string: #98c379,
        template: #98c379,
        constant: #d19a66,
        meta: #e5c07b,
        operator: #56b6c2,
        source: $color,
    ),
    $masks
);
