$prefix: 'cc-';

$container-color: #abb2bf !default;
$container-bg: #282c34 !default;

$literal-comment-name: 'comment';
$literal-comment-color: #5c6370 !default;

$literal-number-name: 'number';
$literal-number-color: #d19a66 !default;

$literal-operator-name: 'operator';
$literal-operator-color: #3caec3 !default;

$literal-string-name: 'string';
$literal-string-color: #98c379 !default;

$literal-template-name: 'template';
$literal-template-color: $literal-string-color !default;

$statement-builtin-name: 'builtin';
$statement-builtin-color: #e6c07b !default;

$statement-keyword-name: 'keyword';
$statement-keyword-color: #c678dd !default;

$statement-primitive-name: 'primitive';
$statement-primitive-color: #56b6c2 !default;

@import './container';
@import './literals';
@import './statements';
@import './masks';
