{
    "env": {
        "transpile": {
            "presets": [ "@babel/preset-flow" ]
        },
        "transpile-legacy": {
            "presets": [
                ["@babel/preset-env", {
                    "loose": true,
                    "useBuiltIns": "entry"
                }],
                "@babel/preset-flow"
            ],
            "comments": false
        },
        "minify": {
            "presets": [ "minify" ],
            "comments": false
        },
        "test": {
            "presets": [
                ["@babel/preset-env", {
                    "loose": true,
                    "useBuiltIns": "entry"
                }],
                "@babel/preset-flow"
            ]
        }
    },
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}
