$color: #111;
$background-color: #fff;

$masks: (
    variable: #345,
    comment: #aaa,
    keyword: #26648e,
    entity: #2e90ae,
    string: #14af83,
    template: #14af83,
    constant: #14af83,
    meta: #111,
    operator: #aaa,
);

@import '../core/core';
